.login-page{
    background: -moz-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(174,228,29,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#AEE41D',GradientType=1 ); /* ie6-9 */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-center{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.login-content, .transaction{
    text-align: center;
}
.transaction{
    padding-top: 10%;
}
.login-content img {
    width: 150px;
    padding-top: 5px;
}
.transaction-cancel{

    padding-top: 15%;
}
.login-content h3 {
    color: #2979FF;
}
#email, #password{
    color: white;
}

.user-account{
    background: -moz-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(174,228,29,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(174,228,29,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#AEE41D',GradientType=1 ); /* ie6-9 */

    height: 200px;
    overflow: hidden;
}

.thumbnail-frame{

    width: 75px;
    height: 75px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid white;
    overflow:hidden;
    position:relative;

}

.thumbnail{
    width: 75px;
    height: 75px;

}

.logout-button{
    border-width: 1px;
    border-color: white;
    color: white;
}

.credit-card ons-input{
    margin-bottom: 20px;

}
input[type="file"] {
    position: absolute; left: -99999rem
}